
<div class="container">
  <div class="row">
  <div class="col-8">
    <div class="card mt-6">
       <div class="card-body">
        <h4 class="card-title text-center">{{post.title}}</h4>
          <ul id="detail-example-list" 
           class="list-group">
            <li class="list-group-item">
             
               <p contenteditable="true"
               id= "editName">  {{example.name}} </p> 
               <alert>How would you describe the food's taste?</alert>
               <p contenteditable="true" 
               id= "editTaste">  {{example.taste}} </p>
               <alert>What would you rate it from the scale from 1-10 "1 being yucky, 10 being the yummiest"?</alert>
               <p contenteditable="true" 
                id= "editScale">  {{example.scale}} </p>
                <alert>Would you recommend this Restaurant?</alert>
               <p contenteditable="true" 
               id= "editRecommend">  {{example.recommend}} </p>
               <alert>Will you consider coming back?</alert>
                <p contenteditable="true" 
                 id= "edit">  {{example.recommend}} </p>
                <br>
                <br>
                <button class="btn btn-red editFeedback editspace">Save</button>
                <a href="/example" class="btn btn-red float-right">Click to go back</a>
              </li>
            </ul>
          </div>
         </div>
      </div>
    </div>
  </div>

<script src="tbd"></script>


