<div class= "container">
  <header align= "center" class= "header-wrap">
    <h2 class= "text-black">Foodie Account Information
    </h2>
    {{#if loggedIn}}
     <div class= "welcome">
      <h3>{{username}}</h3>
      
     </div>
     {{/if}}
  </header>
{{#each posts as |post|}}
    <div class="form-row">
      <div class="form-group col-md-8 post">
        <h2><a href="/post/{{id}}">{{title}}</h2>
        <p>{{post_text}}</p>
        <p>{{comment.comment_text}}</p>
      </div>
      </div>
      {{/each}}
      
    
{{!-- script for logging out and editing post --}}
{{#if loggedIn}}
<script src></script>
<script src></script>
{{/if}}
